// Fonts
@import url('http://fonts.cdnfonts.com/css/corbel');
@import url('http://fonts.cdnfonts.com/css/roboto');

// Icons
@import '../../node_modules/remixicon/fonts/remixicon.css';

@font-face {
  font-family: Carlito;
  src: url('../assets/fonts/carlito/Carlito-Regular.ttf');
}
@font-face {
  font-family: Carlito;
  font-weight: bold;
  src: url('../assets/fonts/carlito/Carlito-Bold.ttf');
}
@font-face {
  font-family: Carlito;
  font-style: italic;
  src: url('../assets/fonts/carlito/Carlito-Italic.ttf');
}
@font-face {
  font-family: Carlito;
  font-style: italic;
  font-weight: bold;
  src: url('../assets/fonts/carlito/Carlito-BoldItalic.ttf');
}

// tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Carlito, sans-serif;
    font-size: 13px;
  }

  @media print {
    html {
      -webkit-print-color-adjust: exact;
    }
  }
}

@layer components {
  .heading {
    @apply text-center font-roboto text-2xl uppercase tracking-widest text-primary;
  }
}
